@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBlack.woff2') format('woff2'),
        url('SVN-GothamBlack.woff') format('woff'),
        url('SVN-GothamBlack.svg#SVN-GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-Gotham.woff2') format('woff2'),
        url('SVN-Gotham.woff') format('woff'),
        url('SVN-Gotham.svg#SVN-Gotham') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLight.woff2') format('woff2'),
        url('SVN-GothamLight.woff') format('woff'),
        url('SVN-GothamLight.svg#SVN-GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamThin.woff2') format('woff2'),
        url('SVN-GothamThin.woff') format('woff'),
        url('SVN-GothamThin.svg#SVN-GothamThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBook.woff2') format('woff2'),
        url('SVN-GothamBook.woff') format('woff'),
        url('SVN-GothamBook.svg#SVN-GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('SVN-GothamUltra.woff2') format('woff2'),
        url('SVN-GothamUltra.woff') format('woff'),
        url('SVN-GothamUltra.svg#SVN-GothamUltra') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBlackItalic.woff2') format('woff2'),
        url('SVN-GothamBlackItalic.woff') format('woff'),
        url('SVN-GothamBlackItalic.svg#SVN-GothamBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff'),
        url('SVN-GothamBold.svg#SVN-GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamItalic.woff2') format('woff2'),
        url('SVN-GothamItalic.woff') format('woff'),
        url('SVN-GothamItalic.svg#SVN-GothamItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBoldItalic.woff2') format('woff2'),
        url('SVN-GothamBoldItalic.woff') format('woff'),
        url('SVN-GothamBoldItalic.svg#SVN-GothamBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLightItalic.woff2') format('woff2'),
        url('SVN-GothamLightItalic.woff') format('woff'),
        url('SVN-GothamLightItalic.svg#SVN-GothamLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLight.woff2') format('woff2'),
        url('SVN-GothamLight.woff') format('woff'),
        url('SVN-GothamLight.svg#SVN-GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBookItalic.woff2') format('woff2'),
        url('SVN-GothamBookItalic.woff') format('woff'),
        url('SVN-GothamBookItalic.svg#SVN-GothamBookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff'),
        url('SVN-GothamBold.svg#SVN-GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLightItalic.woff2') format('woff2'),
        url('SVN-GothamLightItalic.woff') format('woff'),
        url('SVN-GothamLightItalic.svg#SVN-GothamLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamThinItalic.woff2') format('woff2'),
        url('SVN-GothamThinItalic.woff') format('woff'),
        url('SVN-GothamThinItalic.svg#SVN-GothamThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('SVN-GothamUltraItalic.woff2') format('woff2'),
        url('SVN-GothamUltraItalic.woff') format('woff'),
        url('SVN-GothamUltraItalic.svg#SVN-GothamUltraItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '1FTV VIP Hertine';
    src: url('1FTVVIPHertine.woff2') format('woff2'),
        url('1FTVVIPHertine.woff') format('woff'),
        url('1FTVVIPHertine.svg#1FTVVIPHertine') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HLT JaneAusten';
    src: url('HLTJaneAusten-NoSecret.woff2') format('woff2'),
        url('HLTJaneAusten-NoSecret.woff') format('woff'),
        url('HLTJaneAusten-NoSecret.svg#HLTJaneAusten-NoSecret') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

